.navbar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border-bottom: solid 1px;
  background-color: LightGrey;
}

.navItem {
  margin: 15px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navItem #Hover {
  text-decoration: auto;
}
